// Custom.scss
// Option A: Include all of Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";

// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";

p{
  margin: 0px;
}

.bordered {
  margin-top: 4%;
}

.start-hidden {
  display: none;
}

.input-title {
  padding-left: 13px;
}

.rateName {
  font-weight: bold;
}

.card {
  width: 12rem;
}

.inner-p {
  margin-bottom: 0px;
}

.heading{
  text-align: center;
}

.rate{
  text-align: center;
}

#displayRates{
  background-color: rgba(173, 216, 230, .5);
}

#indivEntries{
  display: flex;
  flex-wrap: wrap;
}

#winnerDisplay{
  text-align: center;
  padding-top: 12px;
}

#uploadedCSV{
  display: "none";
}